.login-container {
  margin: 0;
  font-family: sans-serif "Comic Neue", cursive;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 95vh;
  margin-top: 29;
}

.createAcct-container {
  margin: 0;
  font-family: sans-serif "Comic Neue", cursive;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 95vh;
}

.bg-img {
  background-size: cover;
  background-image: url("../../assets/1.png");
  min-height: 100vh;
}
